@font-face {
    font-family: "Syne Mono";
    src: url(SyneMono-Regular.woff2);
}

html {
    height: 100%;
    font-family: "Syne Mono";
}

body {
    min-height: 100%;
    display: grid;
    place-items: center;
}

ul {
    list-style: none;
}

ul li {
    list-style: none;
}

p {
    font-family: monospace;
    text-align: center;
}

img {
    margin-bottom: 1em;
}

a {
    background: linear-gradient(#0069ff, #0069ff) bottom repeat-x;
    background-size: 1px 1px;
    border-bottom: none;
    color: #0069ff;
    text-decoration: none;
    transition: background .3s ease-in-out, color .3s ease-in-out;
}

a:hover {
    background: linear-gradient(#1433d6, #1433d6) bottom repeat-x;
    background-size: 100% 1000%;
    color: #fff;
}